html {
  /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
  font-size: 10px; 
  /* Google fonts 输出的 CSS */
  font-family: 'Open Sans', sans-serif; 
  background-color: #B1B60A;
}
body {
  /*height: 700px;
  width: 550px;*/
  /* margin: 0; */
  background-color: #D19DC1;
  /*padding: 0 20px 20px 20px;*/
  /* padding: 0; */
  /*border: 5px solid black;*/
}

h1 {
  font-size: 60px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
p1 {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  color: #ffff7f;
}
img {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 220px;
}